<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
<TITLE>DHAS stackable IO Board</TITLE>
<META NAME="CREATED" CONTENT="0;0">
<META NAME="CHANGED" CONTENT="20200611;15000000">
</HEAD>
<BODY LANG="en-US" DIR="LTR">
<P>This project template is the basis for a DHAS IO board for the
DHAS home automation system.<BR>
<BR>
This base project includes a PCB edge defined
as the same size as the DHAS controller PCB with the connectors placed
correctly to align the two boards. All IO present on the DHAS controller
board is connected to the project through the 1.27mm expansion
headers.<BR>
<BR>
The board outline looks like the following:
</P>
<P><IMG SRC="brd.png" NAME="brd" ALIGN=BOTTOM WIDTH=680 HEIGHT=378
BORDER=0><BR><BR><BR><BR>
</P>
<P>(c)2020</P>
</BODY>
</HTML>

